# Final Project Data Science Sanbercode 
## ivanmuhsiegfried@gmail.com

## Lakukan Importing

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import re
regex = re.compile(r"\[|\]|<", re.IGNORECASE)

from sklearn.model_selection import GridSearchCV 
from sklearn.model_selection import train_test_split

from sklearn.metrics import roc_auc_score as rocauc
from xgboost import XGBClassifier

## Baca Data

In [2]:
train_df = pd.read_csv('train.csv')
train_df.head()

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,0,21,Wiraswasta,242912,SMA,9,Belum Pernah Menikah,Servis Lainnya,Perempuan,0.0,0.0,35.0,<=7jt
1,1,49,Wiraswasta,140782,10th,6,Cerai,Ekesekutif Managerial,Perempuan,0.0,0.0,40.0,<=7jt
2,2,44,Wiraswasta,120057,D3,12,Menikah,Ekesekutif Managerial,Laki2,61404000.0,0.0,45.0,>7jt
3,3,24,Wiraswasta,194630,Sarjana,13,Belum Pernah Menikah,Spesialis,Laki2,0.0,0.0,35.0,<=7jt
4,4,33,Wiraswasta,219619,Master,14,Menikah,Spesialis,Laki2,210336000.0,0.0,40.0,>7jt

## Periksa Null

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35994 entries, 0 to 35993
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     35994 non-null  int64
 1   Umur                   35994 non-null  int64
 2   Kelas Pekerja          35994 non-null  object
 3   Berat Akhir            35994 non-null  int64
 4   Pendidikan             35994 non-null  object
 5   Jmlh Tahun Pendidikan  35994 non-null  int64
 6   Status Perkawinan      35994 non-null  object
 7   Pekerjaan              35994 non-null  object
 8   Jenis Kelamin          35994 non-null  object
 9   Keuntungan Kapital     35994 non-null  float64
 10  Kerugian Capital       35994 non-null  float64
 11  Jam per Minggu         35994 non-null  float64
 12  Gaji                   35994 non-null  object
dtypes: float64(3), int64(4), object(6)
memory usage: 3.6+ MB

In [4]:
pd.options.display.max_rows = 50

In [5]:
train_df.head(50)

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,0,21,Wiraswasta,242912,SMA,9,Belum Pernah Menikah,Servis Lainnya,Perempuan,0.0,0.0,35.0,<=7jt
1,1,49,Wiraswasta,140782,10th,6,Cerai,Ekesekutif Managerial,Perempuan,0.0,0.0,40.0,<=7jt
2,2,44,Wiraswasta,120057,D3,12,Menikah,Ekesekutif Managerial,Laki2,61404000.0,0.0,45.0,>7jt
3,3,24,Wiraswasta,194630,Sarjana,13,Belum Pernah Menikah,Spesialis,Laki2,0.0,0.0,35.0,<=7jt
4,4,33,Wiraswasta,219619,Master,14,Menikah,Spesialis,Laki2,210336000.0,0.0,40.0,>7jt
5,5,31,Wiraswasta,331065,Sarjana,13,Belum Pernah Menikah,Ekesekutif Managerial,Perempuan,0.0,19712000.0,40.0,<=7jt
6,6,32,Wiraswasta,111520,Pendidikan Tinggi,10,Belum Pernah Menikah,Servis Lainnya,Laki2,0.0,0.0,34.0,<=7jt
7,7,20,Wiraswasta,115057,SMA,9,Belum Pernah Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,40.0,<=7jt
8,8,23,?,191910,Pendidikan Tinggi,10,Belum Pernah Menikah,?,Laki2,0.0,0.0,40.0,<=7jt
9,9,43,Wiraswasta,134120,SMA,9,Cerai,Sales,Perempuan,0.0,0.0,46.0,<=7jt
10,10,31,Wiraswasta,288825,SMA,9,Menikah,Pembersih,Laki2,70182000.0,0.0,40.0,<=7jt
11,11,28,Pemerintah Lokal,304960,D3,12,Belum Pernah Menikah,Pemuka Agama,Perempuan,0.0,27720000.0,40.0,<=7jt
12,12,45,Wiraswasta,320192,1st-4th,2,Menikah,Servis Lainnya,Perempuan,0.0,0.0,40.0,<=7jt
13,13,44,Pemerintah Lokal,100479,D3,12,Menikah,Spesialis,Laki2,0.0,0.0,48.0,<=7jt
14,14,52,Pekerja Bebas Perusahaan,168539,Sarjana,13,Belum Pernah Menikah,Ekesekutif Managerial,Laki2,0.0,0.0,40.0,<=7jt
15,15,27,Wiraswasta,409246,SMA,9,Menikah,Petani,Laki2,0.0,0.0,40.0,>7jt
16,16,26,Wiraswasta,44308,Sarjana,13,Belum Pernah Menikah,Tech-support,Laki2,0.0,0.0,40.0,<=7jt
17,17,56,Wiraswasta,204254,10th,6,Cerai,Servis Lainnya,Perempuan,0.0,0.0,45.0,<=7jt
18,18,59,Wiraswasta,359292,1st-4th,2,Menikah,Mesin Inspeksi,Laki2,0.0,0.0,40.0,<=7jt
19,19,41,Wiraswasta,109762,SMA,9,Cerai,Supir,Laki2,0.0,0.0,45.0,<=7jt
20,20,51,Wiraswasta,161482,SMA,9,Cerai,Servis Lainnya,Perempuan,0.0,0.0,38.0,<=7jt
21,21,68,Wiraswasta,144056,SMA,9,Menikah,Pemuka Agama,Laki2,53452000.0,0.0,40.0,<=7jt
22,22,64,Wiraswasta,151364,Pendidikan Tinggi,10,Belum Pernah Menikah,Pemuka Agama,Perempuan,0.0,0.0,40.0,<=7jt
23,23,21,Wiraswasta,25265,Pendidikan Tinggi,10,Belum Pernah Menikah,Servis Lainnya,Laki2,0.0,0.0,18.0,<=7jt
24,24,37,Pemerintah Negara,191841,Sarjana,13,Belum Pernah Menikah,Pemuka Agama,Perempuan,120596000.0,0.0,40.0,>7jt
25,25,67,Wiraswasta,154035,SMA,9,Janda,Pembersih,Laki2,0.0,0.0,32.0,<=7jt
26,26,34,Wiraswasta,421200,SMA,9,Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,40.0,<=7jt
27,27,42,?,148951,Sarjana,13,Cerai,?,Perempuan,0.0,0.0,12.0,<=7jt
28,28,44,Pekerja Bebas Bukan Perusahan,70884,SMA,9,Menikah,Petani,Laki2,0.0,0.0,60.0,<=7jt
29,29,24,Wiraswasta,131220,SMA,9,Belum Pernah Menikah,Pemuka Agama,Perempuan,0.0,0.0,40.0,<=7jt
30,30,25,Wiraswasta,307643,D3,12,Menikah,Perbaikan Kerajinan,Laki2,43442000.0,0.0,45.0,>7jt
31,31,24,Wiraswasta,195808,Pendidikan Tinggi,10,Belum Pernah Menikah,Mesin Inspeksi,Laki2,0.0,0.0,40.0,<=7jt
32,32,50,Wiraswasta,237258,Master,14,Belum Pernah Menikah,Ekesekutif Managerial,Laki2,389592000.0,0.0,48.0,>7jt
33,33,32,Wiraswasta,149368,Sarjana,13,Menikah,Spesialis,Laki2,0.0,0.0,40.0,>7jt
34,34,23,Wiraswasta,215115,Sarjana,13,Belum Pernah Menikah,Pemuka Agama,Perempuan,0.0,0.0,40.0,<=7jt
35,35,29,Wiraswasta,148431,D3,12,Menikah,Sales,Perempuan,107632000.0,0.0,45.0,>7jt
36,36,40,Wiraswasta,155767,SMA,9,Berpisah,Mesin Inspeksi,Laki2,0.0,0.0,40.0,<=7jt
37,37,34,Wiraswasta,80058,Sekolah Professional,15,Belum Pernah Menikah,Ekesekutif Managerial,Laki2,0.0,0.0,50.0,<=7jt
38,38,44,Wiraswasta,219288,7th-8th,4,Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,35.0,<=7jt
39,39,59,Wiraswasta,182460,Sarjana,13,Menikah,Ekesekutif Managerial,Laki2,0.0,0.0,60.0,>7jt
40,40,33,Wiraswasta,373662,1st-4th,2,Menikah LDR,Asisten Rumah Tangga,Perempuan,0.0,0.0,40.0,<=7jt
41,41,35,Wiraswasta,186009,SMA,9,Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,40.0,>7jt
42,42,22,Wiraswasta,290044,Sarjana,13,Belum Pernah Menikah,Servis Lainnya,Perempuan,0.0,0.0,35.0,<=7jt
43,43,40,Wiraswasta,374764,Pendidikan Tinggi,10,Cerai,Pembersih,Laki2,0.0,0.0,40.0,<=7jt
44,44,25,Wiraswasta,197303,Sarjana,13,Belum Pernah Menikah,Spesialis,Perempuan,0.0,0.0,40.0,<=7jt
45,45,19,Wiraswasta,25429,Pendidikan Tinggi,10,Belum Pernah Menikah,Sales,Perempuan,0.0,0.0,25.0,<=7jt
46,46,19,Pemerintah Negara,159269,Pendidikan Tinggi,10,Belum Pernah Menikah,Pemuka Agama,Laki2,0.0,0.0,15.0,<=7jt
47,47,31,Wiraswasta,243165,Sarjana,13,Belum Pernah Menikah,Spesialis,Laki2,0.0,0.0,40.0,<=7jt
48,48,24,Wiraswasta,220426,SMA,9,Belum Pernah Menikah,Pembersih,Laki2,0.0,0.0,40.0,<=7jt
49,49,44,Wiraswasta,184871,Master,14,Menikah,Spesialis,Laki2,0.0,0.0,40.0,<=7jt

Tidak terdapat null tetapi terdapat nilai '?' yang perlu dilakukan treatment.

In [6]:
for kolom in train_df.columns:
    print(train_df[kolom].unique())

[    0     1     2 ... 35991 35992 35993]
[21 49 44 24 33 31 32 20 23 43 28 45 52 27 26 56 59 41 51 68 64 37 67 34
 42 25 50 29 40 35 22 19 47 66 81 36 55 46 58 61 17 18 74 30 57 38 60 62
 39 70 63 90 53 48 75 71 76 82 73 72 54 65 77 84 79 88 80 69 78 87 85 83
 86]
['Wiraswasta' '?' 'Pemerintah Lokal' 'Pekerja Bebas Perusahaan'
 'Pemerintah Negara' 'Pekerja Bebas Bukan Perusahan' 'Pemerintah Provinsi'
 'Tidak Pernah Bekerja' 'Tanpa di Bayar']
[242912 140782 120057 ... 248776 148169 264722]
['SMA' '10th' 'D3' 'Sarjana' 'Master' 'Pendidikan Tinggi' '1st-4th'
 'Sekolah Professional' '7th-8th' 'Doktor' '5th-6th' '11th' '9th' 'D4'
 '12th' 'SD']
[ 9  6 12 13 14 10  2 15  4 16  3  7  5 11  8  1]
['Belum Pernah Menikah' 'Cerai' 'Menikah' 'Janda' 'Berpisah' 'Menikah LDR']
['Servis Lainnya' 'Ekesekutif Managerial' 'Spesialis'
 'Perbaikan Kerajinan' '?' 'Sales' 'Pembersih' 'Pemuka Agama' 'Petani'
 'Tech-support' 'Mesin Inspeksi' 'Supir' 'Asisten Rumah Tangga' 'Penjaga'
 'Tentara']
['Perempuan' 'Laki2']
[0.000000e+00 6.140400e+07 2.103360e+08 7.018200e+07 5.345200e+07
 1.205960e+08 4.344200e+07 3.895920e+08 1.076320e+08 4.775400e+07
 1.021720e+08 9.473800e+07 2.008160e+08 3.046400e+07 1.399986e+09
 3.043600e+07 6.510000e+07 3.082800e+07 5.143600e+07 4.655000e+07
 1.279600e+07 1.472800e+08 4.391800e+07 5.518800e+07 4.039000e+07
 3.960600e+07 4.069800e+07 7.249200e+07 1.971760e+08 6.701800e+07
 1.338680e+08 3.369800e+07 3.689000e+07 2.807140e+08 8.316000e+06
 6.811000e+07 3.295600e+07 2.563400e+07 9.095800e+07 4.849600e+07
 1.479240e+08 5.689600e+07 9.588600e+07 1.897000e+08 3.612000e+07
 3.533040e+08 1.314040e+08 1.611400e+07 3.260600e+07 5.441800e+07
 8.985200e+07 3.119200e+07 2.059400e+07 4.149600e+07 5.471200e+07
 2.850400e+07 1.596000e+06 2.870000e+07 2.515800e+07 6.561800e+07
 8.535800e+07 5.293400e+07 1.042020e+08 2.108400e+07 4.859400e+07
 4.773300e+08 6.182400e+07 4.838400e+07 2.587340e+08 1.642200e+07
 4.785200e+07 5.741400e+07 9.119600e+07 3.635800e+07 1.040200e+08
 3.284400e+07 3.206000e+07 2.947000e+07 1.484700e+08 4.804800e+07
 1.387400e+07 1.477000e+07 3.517360e+08 6.907600e+07 7.637000e+07
 3.379600e+07 2.423400e+07 6.311200e+07 9.412200e+07 3.553200e+07
 4.145400e+07 1.769600e+07 3.085600e+08 1.520400e+07 2.812600e+07
 8.009400e+07 4.167800e+07 1.972600e+07 4.110400e+07 5.614000e+06
 6.903400e+07 3.714200e+07 1.116920e+08 2.587200e+07 2.102800e+08
 2.216340e+08 4.582200e+07 7.778400e+07 8.904000e+07 3.448200e+07
 2.886800e+07 2.037000e+07 3.341800e+07 5.783400e+08 1.993600e+07
 1.555400e+07 1.105440e+08 1.634920e+08 4.190200e+07 9.256800e+07]
[       0. 19712000. 27720000. 26628000. 33278000. 31948000. 20790000.
 27678000. 31612000. 22106000. 19320000. 24094000. 25872000. 26418000.
 23408000. 17612000. 25550000. 33810000. 28798000. 21896000. 27636000.
 24066000. 23366000. 22260000. 24360000. 28028000. 38556000. 32746000.
 22428000. 35658000. 35826000. 24374000.  2982000. 28014000. 24290000.
 22792000. 22316000. 36442000. 23114000. 27216000. 31332000. 12320000.
 33488000. 28714000. 25816000. 24164000. 52780000. 34538000.  8750000.
 30870000. 21056000. 23352000. 39536000. 30282000. 26264000. 34608000.
 19754000. 30506000. 22022000. 28588000.  9142000. 15288000. 51562000.
 24668000. 22638000.  4522000. 34510000. 31444000. 30884000. 34216000.
 19894000. 30436000. 30814000. 20006000. 29120000. 18760000. 29806000.
 25424000. 44450000. 24570000. 42056000. 31234000. 34398000. 21140000.
  2170000.  5866000. 30086000. 60984000. 54600000. 15932000. 21546000.
 23072000. 11340000. 26180000. 13636000. 31738000.]
[35. 40. 45. 34. 46. 48. 38. 18. 32. 12. 60. 50. 25. 15. 30. 21. 33. 22.
 37. 44. 72. 42. 20.  6. 36. 70. 56.  3. 89. 24. 55. 10. 65. 75. 17. 90.
 47. 28. 64.  8. 52. 84. 16. 43. 80. 23. 54. 14. 49.  5.  2. 58. 51.  4.
 57.  7. 98. 99. 86.  9.  1. 63. 61. 11. 85. 39. 41. 13. 26. 59. 96. 91.
 19. 66. 31. 53. 62. 76. 27. 29. 97. 92. 68. 87. 94. 77. 67. 73. 74. 88.
 78. 69. 81. 95.]
['<=7jt' '>7jt']

In [7]:
for kolom in train_df.columns:
    print(kolom, train_df[train_df[kolom]=='?'][kolom].count())

id 0
Umur 0
Kelas Pekerja 2063
Berat Akhir 0
Pendidikan 0
Jmlh Tahun Pendidikan 0
Status Perkawinan 0
Pekerjaan 2069
Jenis Kelamin 0
Keuntungan Kapital 0
Kerugian Capital 0
Jam per Minggu 0
Gaji 0

C:\Users\HP\anaconda3\envs\cobaconda\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Nilai '?' terdapat pada kolom 'Kelas Pekerja' dan 'Pekerjaan'

In [8]:
train_df['Kelas Pekerja'].unique()

array(['Wiraswasta', '?', 'Pemerintah Lokal', 'Pekerja Bebas Perusahaan',
       'Pemerintah Negara', 'Pekerja Bebas Bukan Perusahan',
       'Pemerintah Provinsi', 'Tidak Pernah Bekerja', 'Tanpa di Bayar'],
      dtype=object)

In [9]:
train_df['Pekerjaan'].unique()

array(['Servis Lainnya', 'Ekesekutif Managerial', 'Spesialis',
       'Perbaikan Kerajinan', '?', 'Sales', 'Pembersih', 'Pemuka Agama',
       'Petani', 'Tech-support', 'Mesin Inspeksi', 'Supir',
       'Asisten Rumah Tangga', 'Penjaga', 'Tentara'], dtype=object)

## Ganti Nilai '?'

In [10]:
train_df['Kelas Pekerja']=train_df['Kelas Pekerja'].str.replace('?', 'Lain-lain')
train_df['Pekerjaan']=train_df['Pekerjaan'].str.replace('?', 'Lain-lain')

In [11]:
for kolom in train_df.columns:
    print(kolom, train_df[train_df[kolom]=='?'][kolom].count())

id 0
Umur 0
Kelas Pekerja 0
Berat Akhir 0
Pendidikan 0
Jmlh Tahun Pendidikan 0
Status Perkawinan 0
Pekerjaan 0
Jenis Kelamin 0
Keuntungan Kapital 0
Kerugian Capital 0
Jam per Minggu 0
Gaji 0

In [12]:
train_df['Gaji']=train_df['Gaji'].map({'<=7jt':0,'>7jt':1})
train_df.drop(['id','Berat Akhir', 'Keuntungan Kapital', 'Kerugian Capital', 'Pendidikan'], axis=1, inplace=True)
train_df.head()

,Umur,Kelas Pekerja,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Jam per Minggu,Gaji
0,21,Wiraswasta,9,Belum Pernah Menikah,Servis Lainnya,Perempuan,35.0,0
1,49,Wiraswasta,6,Cerai,Ekesekutif Managerial,Perempuan,40.0,0
2,44,Wiraswasta,12,Menikah,Ekesekutif Managerial,Laki2,45.0,1
3,24,Wiraswasta,13,Belum Pernah Menikah,Spesialis,Laki2,35.0,0
4,33,Wiraswasta,14,Menikah,Spesialis,Laki2,40.0,1

In [13]:
#src cat_data: http://theprofessionalspoint.blogspot.com/2019/03/how-to-separate-numeric-and-categorical.html

#Why and when shall we use One-Hot Encoding?
#One of the major problems with machine learning is that a lot of algorithms cannot work directly with categorical data. 
#Categorical data [1] are variables that can take on one of a limited number of possible values. 
#src: https://towardsdatascience.com/what-is-one-hot-encoding-and-how-to-use-pandas-get-dummies-function-922eb9bd4970

#Diselesaikan dengan One-Hot encoding tetapi performa hanya sampai 0.77 di Kaggle.
categorical_columns = train_df.select_dtypes(exclude=np.number).columns

df2 = pd.get_dummies(data=train_df, prefix=categorical_columns, drop_first=True)

In [14]:
pd.options.display.max_columns = 50
df2.head()

,Umur,Jmlh Tahun Pendidikan,Jam per Minggu,Gaji,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,Kelas Pekerja_Tanpa di Bayar,Kelas Pekerja_Tidak Pernah Bekerja,Kelas Pekerja_Wiraswasta,Status Perkawinan_Berpisah,Status Perkawinan_Cerai,Status Perkawinan_Janda,Status Perkawinan_Menikah,Status Perkawinan_Menikah LDR,Pekerjaan_Ekesekutif Managerial,Pekerjaan_Lain-lain,Pekerjaan_Mesin Inspeksi,Pekerjaan_Pembersih,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara,Jenis Kelamin_Perempuan
0,21,9,35.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
1,49,6,40.0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,44,12,45.0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,24,13,35.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,33,14,40.0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [15]:
df2.shape

(35994, 32)

In [16]:
X = df2.drop('Gaji', axis=1)
y = df2['Gaji']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)
#df2.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in df2.columns.values]

#print(X_train)

#target = df2.iloc[:, 0]
#predictors = df2.iloc[:, 1:]

#XGBModel = XGBClassifier()
dftest = pd.read_csv('test.csv')
dftest2 = pd.read_csv('test.csv')

#checking = { 'learning_rate':[0.001, 0.01, 0.1, 0.2, 0.5], 'max_depth':[1, 2, 4, 5, 7, 9, 10], 'min_child_weight':[2, 4, 5, 6, 7, 8]}
#grid = GridSearchCV(XGBModel, n_jobs=-1, param_grid=checking)
#grid.fit(X, y)

#{'learning_rate': 0.1, 'max_depth': 5, 'min_child_weight': 2}


XGBModel2=XGBClassifier(learning_rate=0.1, max_depth= 5, min_child_weight=2)
finalmodel=XGBModel2.fit(X_train, y_train)

dftest['Kelas Pekerja']=dftest['Kelas Pekerja'].str.replace('?', 'Lain-lain')
dftest['Pekerjaan']=dftest['Pekerjaan'].str.replace('?', 'Lain-lain')

dftest.drop(['id','Berat Akhir', 'Keuntungan Kapital', 'Kerugian Capital', 'Pendidikan'], axis=1, inplace=True)

df3 = pd.get_dummies(data=dftest, prefix=['Kelas Pekerja', 'Status Perkawinan', 'Pekerjaan', 'Jenis Kelamin'], drop_first=True)



#df3.head()
print(df2.shape)
print(df3.shape)

(35994, 32)
(9599, 31)

In [17]:
X_test_CSV = df3

finalmodelpred=finalmodel.predict(X_test_CSV)

df_Final = dftest2
df_Final['Gaji'] = finalmodelpred
df_Final

final_Proba = XGBModel2.predict_proba(X_test)

print(final_Proba)

final_Proba_y=final_Proba[:,1]

[[0.6863104  0.31368962]
 [0.7323704  0.26762965]
 [0.17434734 0.82565266]
 ...
 [0.9978958  0.0021042 ]
 [0.92434955 0.07565043]
 [0.8672063  0.13279371]]

In [18]:
print(rocauc(y_test, final_Proba_y))

df_Final = df_Final[['id', 'Gaji']]
df_Final

df_Final.to_csv('submission-ivanmsiegfried-9.csv', index=False)

0.8943108123672217